BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "rstn" SITE "B3" ;
LOCATE COMP "led[0]" SITE "H11" ;
LOCATE COMP "led[1]" SITE "J13" ;
LOCATE COMP "led[2]" SITE "J11" ;
LOCATE COMP "led[3]" SITE "L12" ;
LOCATE COMP "led[4]" SITE "K11" ;
LOCATE COMP "led[5]" SITE "L13" ;
LOCATE COMP "led[6]" SITE "N15" ;
LOCATE COMP "led[7]" SITE "P16" ;
LOCATE COMP "dipsw[0]" SITE "N2" ;
LOCATE COMP "dipsw[1]" SITE "P1" ;
LOCATE COMP "dipsw[2]" SITE "M3" ;
LOCATE COMP "dipsw[3]" SITE "N1" ;
LOCATE COMP "clk_12m" SITE "C8" ;


LOCATE COMP "lcd_hsync" SITE "D9" ;
LOCATE COMP "lcd_vsync" SITE "B4" ;
LOCATE COMP "lcd_altsig" SITE "D7" ;
LOCATE COMP "lcd_clk" SITE "C5" ;
LOCATE COMP "lcd_d0" SITE "E6" ;
LOCATE COMP "lcd_d1" SITE "A10" ;
LOCATE COMP "lcd_datal" SITE "B6" ;
LOCATE COMP "lcd_control" SITE "B5" ;

FREQUENCY PORT "clk_2m" 12.000000 MHz ;

IOBUF PORT "clk_12m" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dipsw[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dipsw[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dipsw[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dipsw[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rstn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_vsync" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_hsync" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_altsig" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_d0" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_d1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_datal" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_control" PULLMODE=NONE IO_TYPE=LVCMOS33 ;

SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=EXTERNAL ;
