# Physical Constraints File for dmgplus.
# dmgplus has a ICe40HX4K-TQ144 chip.

set_io lcd_vsync 25
set_io lcd_altsig 26
set_io lcd_clk 28
set_io lcd_d[1] 29
set_io lcd_d[0] 31
set_io lcd_hsync 32
set_io lcd_datal 33
set_io lcd_control 34
set_io cart_a[2] 110
set_io cart_a[1] 112
set_io cart_a[0] 113
set_io rpi_g[1] 114
set_io rpi_g[2] 115
set_io rpi_b[1] 116
set_io rpi_b[0] 117
set_io rpi_dataen 118
set_io rpi_pclk 119
set_io cart_busdir 120
set_io cart_ncs 121
set_io cart_nrd 122
set_io rpi_g[0] 124
set_io cart_nwr 134
set_io cart_clk 135
set_io rpi_r[0] 136
set_io lp_clk 137
set_io lp_gp 138
set_io lp_din 139
set_io lp_dout 141
set_io cart_d[7] 73
set_io cart_d[6] 74
set_io cart_d[5] 75
set_io cart_d[4] 76
set_io cart_d[3] 78
set_io cart_d[2] 79
set_io cart_d[1] 80
set_io cart_d[0] 81
set_io cart_a[15] 82
set_io cart_a[14] 83
set_io rpi_vsync 84
set_io cart_a[13] 85
set_io cart_a[12] 87
set_io cart_a[11] 88
set_io cart_a[10] 90
set_io cart_a[9] 91
set_io cart_a[8] 93
set_io cart_a[7] 94
set_io cart_a[6] 95
set_io rpi_r[1] 104
set_io cart_a[5] 105
set_io cart_a[4] 106
set_io cart_a[3] 107
set_io cart_nrst 62
set_io spi_mosi 67
set_io spi_miso 68
set_io spi_sck 70
set_io spi_cs 71
set_io pwm_l 101
set_io pwm_r 102
